# Prerequisites
*.d

# Object files
*.o
*.out
*.map
*.in
*.obj
*.bin
*.hex

# VIM
*.swp

# Build directory
development/system/msp_sdk/examples
development/system/msp_sdk/tools
development/system/msp_sdk/docs
development/applications/drone/Debug
development/applications/falcon/Debug
development/applications/falcon/eclipse/.settings
