[submodule "development/development/test/Unity"]
	path = development/development/test/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "development/libraries/falcon_packet"]
	path = development/libraries/falcon_packet
	url = https://github.com/adambujak/falcon_packet
